# Eat Safe, Love

## Notebook Set Up

In [1]:
from pymongo import MongoClient
import pandas as pd
from pprint import pprint

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [4]:
# review the collections in our database
print(db.list_collection_names())

['establishments']

In [5]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [31]:
# Find the establishments with a hygiene score of 20
query = {'scores.Hygiene': 20}

# Print the number of results
establishments.count_documents({})

# Use count_documents to display the number of documents in the result
print("Number of establishments in result:", establishments.count_documents(query))

# Display the first document in the results using pprint
print("First result:")
results = establishments.find(query)
pprint(results[0])

Number of establishments in result: 41
First result:
{'AddressLine1': '5-6 Southfields Road',
 'AddressLine2': 'Eastbourne',
 'AddressLine3': 'East Sussex',
 'AddressLine4': '',
 'BusinessName': 'The Chase Rest Home',
 'BusinessType': 'Caring Premises',
 'BusinessTypeID': 5,
 'ChangesByServerID': 0,
 'Distance': 4613.888288172291,
 'FHRSID': 110681,
 'LocalAuthorityBusinessID': '4029',
 'LocalAuthorityCode': '102',
 'LocalAuthorityEmailAddress': 'Customerfirst@eastbourne.gov.uk',
 'LocalAuthorityName': 'Eastbourne',
 'LocalAuthorityWebSite': 'http://www.eastbourne.gov.uk/foodratings',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'BN21 1BU',
 'RatingDate': '2021-09-23T00:00:00',
 'RatingKey': 'fhrs_0_en-gb',
 'RatingValue': 0,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('676a3a19bf0a5ed7bcb75b50'),
 'geocode': {'latitude': 50.769705, 'longitude': 0.27694},
 'latitude': None,
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/110681',
            'rel': 'self'}],
 'longitude': None,
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 20, 'Hygiene': 20, 'Structural': 20}}

In [ ]:
# Convert the result to a Pandas DataFrame
establishments_hyg_df = pd.DataFrame(results)

# Display the number of rows in the DataFrame
print("Number of rows in result: ", len(establishments_hyg_df))

# Display the first 10 rows of the DataFrame
establishments_hyg_df.head(10)

Number of rows in result:  41

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,scores,SchemeType,geocode,RightToReply,Distance,NewRatingPending,meta,links,latitude,longitude
0,676a3a19bf0a5ed7bcb75b50,110681,0,4029,The Chase Rest Home,Caring Premises,5,5-6 Southfields Road,Eastbourne,East Sussex,...,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,"{'longitude': 0.27694, 'latitude': 50.769705}",,4613.888288,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....",None,None
1,676a3a19bf0a5ed7bcb75ed1,612039,0,1970/FOOD,Brenalwood,Caring Premises,5,Hall Lane,Walton-on-the-Naze,Essex,...,"{'Hygiene': 20, 'Structural': 15, 'ConfidenceI...",FHRS,"{'longitude': 1.278721, 'latitude': 51.857536}",,4617.965824,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....",None,None
2,676a3a19bf0a5ed7bcb761db,730933,0,1698/FOOD,Melrose Hotel,Hotel/bed & breakfast/guest house,7842,53 Marine Parade East,Clacton On Sea,Essex,...,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,"{'longitude': 1.15927, 'latitude': 51.789429}",,4619.656144,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....",None,None
3,676a3a19bf0a5ed7bcb763c9,172735,0,PI/000023858,Seaford Pizza,Takeaway/sandwich shop,7844,4 High Street,Seaford,East Sussex,...,"{'Hygiene': 20, 'Structural': 10, 'ConfidenceI...",FHRS,"{'longitude': 0.10202, 'latitude': 50.770885}",,4620.421725,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....",None,None
4,676a3a19bf0a5ed7bcb763d8,172953,0,PI/000024532,Golden Palace,Restaurant/Cafe/Canteen,1,5 South Street,Seaford,East Sussex,...,"{'Hygiene': 20, 'Structural': 10, 'ConfidenceI...",FHRS,"{'longitude': 0.101446, 'latitude': 50.770724}",,4620.437179,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....",None,None

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [45]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query2 = {}
fields = {'Local Authority': "London", 'RatingValue': 4}
results2 = establishments.find(query2,fields)

# Use count_documents to display the number of documents in the result
print("Number of establishments in result:", establishments.count_documents(query2))

# Display the first document in the results using pprint
print("First result:")

pprint(results2[0])

Number of establishments in result: 38787
First result:
{'Local Authority': 'London',
 'RatingValue': 5,
 '_id': ObjectId('676a3a17bf0a5ed7bcb7401e')}

In [46]:
# Convert the result to a Pandas DataFrame
establishments_london_df = pd.DataFrame(results2)

# Display the number of rows in the DataFrame
print("Number of rows in result: ", len(establishments_london_df))

# Display the first 10 rows of the DataFrame
establishments_london_df.head(10)

Number of rows in result:  38787

                        _id  RatingValue Local Authority
0  676a3a17bf0a5ed7bcb7401e          5.0          London
1  676a3a17bf0a5ed7bcb7401f          4.0          London
2  676a3a17bf0a5ed7bcb74020          5.0          London
3  676a3a17bf0a5ed7bcb74023          5.0          London
4  676a3a17bf0a5ed7bcb74024          5.0          London
5  676a3a17bf0a5ed7bcb74025          4.0          London
6  676a3a17bf0a5ed7bcb74026          5.0          London
7  676a3a17bf0a5ed7bcb74027          5.0          London
8  676a3a17bf0a5ed7bcb74028          5.0          London
9  676a3a17bf0a5ed7bcb74029          4.0          London

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [62]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude = 51.49014200
longitude = 0.08384000

query = {
    'geocode.latitude': {'$gte': latitude - degree_search, '$lte': latitude + degree_search}, 
    'geocode.longitude': {'$gte': longitude - degree_search, '$lte': longitude + degree_search}, 
    'RatingValue': 5
}

sort = [('scores.Hygiene', 1)] 
limit = 5
results3 = list(establishments.find(query).sort(sort).limit(limit))

# Print the results
for result in results3: 
    print(result)

{'_id': ObjectId('676a3a1dbf0a5ed7bcb7b3af'), 'FHRSID': 694609, 'ChangesByServerID': 0, 'LocalAuthorityBusinessID': 'PI/000116619', 'BusinessName': 'Volunteer', 'BusinessType': 'Pub/bar/nightclub', 'BusinessTypeID': 7843, 'AddressLine1': '130 - 132 Plumstead High Street', 'AddressLine2': '', 'AddressLine3': 'Plumstead', 'AddressLine4': 'Greenwich', 'PostCode': 'SE18 1JQ', 'Phone': '', 'RatingValue': 5, 'RatingKey': 'fhrs_5_en-gb', 'RatingDate': '2019-08-05T00:00:00', 'LocalAuthorityCode': '511', 'LocalAuthorityName': 'Greenwich', 'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk', 'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk', 'scores': {'Hygiene': 0, 'Structural': 0, 'ConfidenceInManagement': 0}, 'SchemeType': 'FHRS', 'geocode': {'longitude': 0.09208, 'latitude': 51.4873437}, 'RightToReply': '', 'Distance': 4646.965634598608, 'NewRatingPending': False, 'meta': {'dataSource': None, 'extractDate': '0001-01-01T00:00:00', 'itemCount': 0, 'returncode': None, 'totalCount': 0, 'totalPages': 0, 'pageSize': 0, 'pageNumber': 0}, 'links': [{'rel': 'self', 'href': 'http://api.ratings.food.gov.uk/establishments/694609'}], 'latitude': None, 'longitude': None}
{'_id': ObjectId('676a3a1dbf0a5ed7bcb7b3c7'), 'FHRSID': 695241, 'ChangesByServerID': 0, 'LocalAuthorityBusinessID': 'PI/000179088', 'BusinessName': 'Plumstead Manor Nursery', 'BusinessType': 'Caring Premises', 'BusinessTypeID': 5, 'AddressLine1': 'Plumstead Manor School Old Mill Road', 'AddressLine2': '', 'AddressLine3': 'Plumstead', 'AddressLine4': 'Greenwich', 'PostCode': 'SE18 1QG', 'Phone': '', 'RatingValue': 5, 'RatingKey': 'fhrs_5_en-gb', 'RatingDate': '2021-06-16T00:00:00', 'LocalAuthorityCode': '511', 'LocalAuthorityName': 'Greenwich', 'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk', 'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk', 'scores': {'Hygiene': 0, 'Structural': 0, 'ConfidenceInManagement': 5}, 'SchemeType': 'FHRS', 'geocode': {'longitude': 0.0859939977526665, 'latitude': 51.481517791748}, 'RightToReply': '', 'Distance': 4646.9740101340385, 'NewRatingPending': False, 'meta': {'dataSource': None, 'extractDate': '0001-01-01T00:00:00', 'itemCount': 0, 'returncode': None, 'totalCount': 0, 'totalPages': 0, 'pageSize': 0, 'pageNumber': 0}, 'links': [{'rel': 'self', 'href': 'http://api.ratings.food.gov.uk/establishments/695241'}], 'latitude': None, 'longitude': None}
{'_id': ObjectId('676a3a1dbf0a5ed7bcb7b3ca'), 'FHRSID': 694478, 'ChangesByServerID': 0, 'LocalAuthorityBusinessID': 'PI/000086506', 'BusinessName': 'Atlantic Fish Bar', 'BusinessType': 'Takeaway/sandwich shop', 'BusinessTypeID': 7844, 'AddressLine1': '35 Lakedale Road', 'AddressLine2': '', 'AddressLine3': 'Plumstead', 'AddressLine4': 'Greenwich', 'PostCode': 'SE18 1PR', 'Phone': '', 'RatingValue': 5, 'RatingKey': 'fhrs_5_en-gb', 'RatingDate': '2021-06-16T00:00:00', 'LocalAuthorityCode': '511', 'LocalAuthorityName': 'Greenwich', 'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk', 'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk', 'scores': {'Hygiene': 0, 'Structural': 0, 'ConfidenceInManagement': 5}, 'SchemeType': 'FHRS', 'geocode': {'longitude': 0.0912164, 'latitude': 51.4867296}, 'RightToReply': '', 'Distance': 4646.974611855838, 'NewRatingPending': False, 'meta': {'dataSource': None, 'extractDate': '0001-01-01T00:00:00', 'itemCount': 0, 'returncode': None, 'totalCount': 0, 'totalPages': 0, 'pageSize': 0, 'pageNumber': 0}, 'links': [{'rel': 'self', 'href': 'http://api.ratings.food.gov.uk/establishments/694478'}], 'latitude': None, 'longitude': None}
{'_id': ObjectId('676a3a1dbf0a5ed7bcb7b382'), 'FHRSID': 695223, 'ChangesByServerID': 0, 'LocalAuthorityBusinessID': 'PI/000178842', 'BusinessName': 'Iceland', 'BusinessType': 'Retailers - supermarkets/hypermarkets', 'BusinessTypeID': 7840, 'AddressLine1': '144 - 146 Plumstead High Street', 'AddressLine2': '', 'AddressLine3': 'Plumstead', 'AddressLine4': 'Greenwich', 'PostCode': 'SE18 1JQ', 'Phone': '', 'RatingValue': 5, 'RatingKey': 'fhrs_5_en-gb', 'RatingDate': '2019-11-13T00:00:00', 'LocalAuthorityCode': '511', 'LocalAuthorityName': 'Greenwich', 'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk', 'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk', 'scores': {'Hygiene': 0, 'Structural': 5, 'ConfidenceInManagement': 5}, 'SchemeType': 'FHRS', 'geocode': {'longitude': 0.0924199968576431, 'latitude': 51.4871482849121}, 'RightToReply': '', 'Distance': 4646.946071297699, 'NewRatingPending': False, 'meta': {'dataSource': None, 'extractDate': '0001-01-01T00:00:00', 'itemCount': 0, 'returncode': None, 'totalCount': 0, 'totalPages': 0, 'pageSize': 0, 'pageNumber': 0}, 'links': [{'rel': 'self', 'href': 'http://api.ratings.food.gov.uk/establishments/695223'}], 'latitude': None, 'longitude': None}
{'_id': ObjectId('676a3a1dbf0a5ed7bcb7b392'), 'FHRSID': 1380578, 'ChangesByServerID': 0, 'LocalAuthorityBusinessID': '14425', 'BusinessName': 'Howe and Co Fish and Chips - Van 17', 'BusinessType': 'Mobile caterer', 'BusinessTypeID': 7846, 'AddressLine1': 'Restaurant And Premises 107A Plumstead High Street', 'AddressLine2': '', 'AddressLine3': 'Plumstead', 'AddressLine4': 'Greenwich', 'PostCode': 'SE18 1SE', 'Phone': '', 'RatingValue': 5, 'RatingKey': 'fhrs_5_en-gb', 'RatingDate': '2021-11-11T00:00:00', 'LocalAuthorityCode': '511', 'LocalAuthorityName': 'Greenwich', 'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk', 'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk', 'scores': {'Hygiene': 0, 'Structural': 0, 'ConfidenceInManagement': 0}, 'SchemeType': 'FHRS', 'geocode': {'longitude': 0.0925370007753372, 'latitude': 51.4875335693359}, 'RightToReply': '', 'Distance': 4646.95593107927, 'NewRatingPending': False, 'meta': {'dataSource': None, 'extractDate': '0001-01-01T00:00:00', 'itemCount': 0, 'returncode': None, 'totalCount': 0, 'totalPages': 0, 'pageSize': 0, 'pageNumber': 0}, 'links': [{'rel': 'self', 'href': 'http://api.ratings.food.gov.uk/establishments/1380578'}], 'latitude': None, 'longitude': None}

In [64]:
# Convert result to Pandas DataFrame
topfive_df= pd.DataFrame(results3)
topfive_df

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,scores,SchemeType,geocode,RightToReply,Distance,NewRatingPending,meta,links,latitude,longitude
0,676a3a1dbf0a5ed7bcb7b3af,694609,0,PI/000116619,Volunteer,Pub/bar/nightclub,7843,130 - 132 Plumstead High Street,,Plumstead,...,"{'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...",FHRS,"{'longitude': 0.09208, 'latitude': 51.4873437}",,4646.965635,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None
1,676a3a1dbf0a5ed7bcb7b3c7,695241,0,PI/000179088,Plumstead Manor Nursery,Caring Premises,5,Plumstead Manor School Old Mill Road,,Plumstead,...,"{'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...",FHRS,"{'longitude': 0.0859939977526665, 'latitude': ...",,4646.974010,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None
2,676a3a1dbf0a5ed7bcb7b3ca,694478,0,PI/000086506,Atlantic Fish Bar,Takeaway/sandwich shop,7844,35 Lakedale Road,,Plumstead,...,"{'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...",FHRS,"{'longitude': 0.0912164, 'latitude': 51.4867296}",,4646.974612,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None
3,676a3a1dbf0a5ed7bcb7b382,695223,0,PI/000178842,Iceland,Retailers - supermarkets/hypermarkets,7840,144 - 146 Plumstead High Street,,Plumstead,...,"{'Hygiene': 0, 'Structural': 5, 'ConfidenceInM...",FHRS,"{'longitude': 0.0924199968576431, 'latitude': ...",,4646.946071,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None
4,676a3a1dbf0a5ed7bcb7b392,1380578,0,14425,Howe and Co Fish and Chips - Van 17,Mobile caterer,7846,Restaurant And Premises 107A Plumstead High St...,,Plumstead,...,"{'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...",FHRS,"{'longitude': 0.0925370007753372, 'latitude': ...",,4646.955931,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [ ]:
# Create a pipeline that:
# 1. Matches establishments with a hygiene score of 0
match_query= {'$match': {'scores.Hygiene': 0}}

# 2. Groups the matches by Local Authority
group_query= {'$group': {'_id': {"LocalAuthorityName":"$LocalAuthorityName"}, 
                        'count': {'$sum': 1}
                        }
            }

# 3. Sorts the matches from highest to lowest
sort_values= {'$sort': {'count': -1}
              }

# Put the pipeline together
pipeline = [match_query, group_query, sort_values]
results4 = list(establishments.aggregate(pipeline))

# Print the number of documents in the result
print("Number of rows in result: ", len(results4))

# Print the first 10 results
print("First 10 results:") 
for result in results4[:10]: 
    pprint(result)

Number of rows in result:  55
First 10 results:
{'_id': {'LocalAuthorityName': 'Thanet'}, 'count': 1130}
{'_id': {'LocalAuthorityName': 'Greenwich'}, 'count': 882}
{'_id': {'LocalAuthorityName': 'Maidstone'}, 'count': 713}
{'_id': {'LocalAuthorityName': 'Newham'}, 'count': 711}
{'_id': {'LocalAuthorityName': 'Swale'}, 'count': 686}
{'_id': {'LocalAuthorityName': 'Chelmsford'}, 'count': 680}
{'_id': {'LocalAuthorityName': 'Medway'}, 'count': 672}
{'_id': {'LocalAuthorityName': 'Bexley'}, 'count': 607}
{'_id': {'LocalAuthorityName': 'Southend-On-Sea'}, 'count': 586}
{'_id': {'LocalAuthorityName': 'Tendring'}, 'count': 542}

In [76]:
# Convert the result to a Pandas DataFrame
localhyg_df= pd.DataFrame(results4)

# Display the number of rows in the DataFrame
num_rows = len(localhyg_df) 
print(f"Number of rows in the DataFrame: {num_rows}")

# Display the first 10 rows of the DataFrame
localhyg_df.head(10)

Number of rows in the DataFrame: 55

                                         _id  count
0           {'LocalAuthorityName': 'Thanet'}   1130
1        {'LocalAuthorityName': 'Greenwich'}    882
2        {'LocalAuthorityName': 'Maidstone'}    713
3           {'LocalAuthorityName': 'Newham'}    711
4            {'LocalAuthorityName': 'Swale'}    686
5       {'LocalAuthorityName': 'Chelmsford'}    680
6           {'LocalAuthorityName': 'Medway'}    672
7           {'LocalAuthorityName': 'Bexley'}    607
8  {'LocalAuthorityName': 'Southend-On-Sea'}    586
9         {'LocalAuthorityName': 'Tendring'}    542